<div class="limiter">
    <div class="container-login100" style="background-image: url('../../../assets/images/fondoLogin.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form class="login100-form validate-form">
                <span class="login100-form-title p-b-49">
                    Iniciar sesión
                </span>

                <div class="txt1 text-center  p-b-20">
                    <span>
                        ¡Bienvenido! Para acceder a Atmos, debes iniciar sesión a través de Google.
                    </span>
                </div>

                <div class="flex-c-m">
                    <a (click)="call_login_google()" class="login100-social-item bg3">
                        <i class="fa fa-google"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

