
.containerTiempo{
    height: 70vh;
    width: 35%;
    background-color: white;
    margin: auto;
    margin-top: 12vh;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 4px 4px 5px #00000099;
    font-size: 18px;
    font-weight: 500;
}
.inputBusqueda{
    width: 50%;
    height: 5vh;
}
.containerBusqueda{
    display: flex;
    justify-content: center;
}
.containerInfo{
    flex: 6;
    display: flex;
    justify-content: center;
}
.containerDato{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icono{
    height: 32px;
    margin: 0 10px;
}
.label{
    font-size: 16px;
}
.dato{
    font-size: 25px;
}
.iconoTemp{
    height: 50px;
    margin: 0 10px;
}
.labelTemp{
    font-size: 22px;
}
.datoTemp{
    font-size: 35px;
}
.iconoTiempo{
    height: 70px;
}
.logo{
    width: 50%;
    margin: auto;
    margin-top: 3vh;
}
.listaResultados{
    list-style: none;
    width: 50%;
    margin: 0;
    padding: 0;
    margin: auto;
}

.resultado{
    display: flex;
    list-style: none;
    cursor: pointer;
    height: 4vh;
    align-items: center;
    padding-left: 5%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.resultado:hover{
    background-color: #3581d170;
}
