
.containerTiempo{
    height: auto;
    min-width: 65vh;
    max-width: 65vh;
    background-color: white;
    margin: auto;
    margin-top: 6vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 4px 4px 5px #00000099;
    font-size: 18px;
    font-weight: 500;
}
.inputBusqueda{
    height: 5vh;
}
.containerBusqueda{
    display: flex;
    width: 85%;
    justify-content: center;
}
.containerInfo{
    flex: 6;
    display: flex;
    justify-content: center;
}
.containerDato{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icono{
    height: 32px;
    margin: 0 10px;
}
.label{
    font-size: 16px;
}
.dato{
    font-size: 25px;
}
.iconoTemp{
    height: 50px;
    margin: 0 10px;
}
.labelTemp{
    font-size: 22px;
}
.datoTemp{
    font-size: 35px;
}

.logo{
    width: 50%;
    margin-top: 3vh;
}
.listaResultados {
    list-style: none;
    width: 85%;
    margin: auto;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
  }
  
  .resultado {
    display: flex;
    cursor: pointer;
    height: 40px;
    align-items: center;
    padding-left: 5%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
  }
.resultado:hover{
    background-color: #3581d170;
}
.containerConjunto{
    display: flex;
    justify-content: center;
}
.containerInfoBasica{
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    justify-content: space-between;
}
.iconoGrande{
    display: flex;
    justify-content: start;
    align-items: center;
}
.iconoTiempo{
    display: flex;
    justify-content: center;
    width: 120px;
}
.datosBasicos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainInfo{
    display: flex;
    margin-right: 10vh;
    justify-content: center;
    align-items: center;
}
.containerTemp{
    font-size: 26px;
}

