
.background{
    min-height: 100vh;
    max-height: auto;
    background-size: cover;
    padding: 3%;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all 1s;
}
.borderEdicion{
    border: 4px solid red;
    transition: all 0s;
}

.containerTiempo{
    height: auto;
    max-width: 65vh;
    background-color: white;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 4px 4px 5px #00000099;
    font-size: 18px;
    font-weight: 500;
}
.inputBusqueda{
    height: 5vh;
}
.containerBusqueda{
    display: flex;
    width: 85%;
    justify-content: center;
}
.containerInfo{
    flex: 6;
    display: flex;
    justify-content: center;
}
.containerDato{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icono{
    height: 32px;
    margin: 0 10px;
}
.label{
    font-size: 16px;
}
.dato{
    font-size: 25px;
}
.iconoTemp{
    height: 50px;
    margin: 0 10px;
}
.labelTemp{
    font-size: 22px;
}
.datoTemp{
    font-size: 35px;
}

.logo{
    width: 50%;
    margin-top: 3vh;
}
.listaResultados {
    list-style: none;
    width: 85%;
    margin: auto;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
  }
  
  .resultado {
    display: flex;
    cursor: pointer;
    height: 40px;
    align-items: center;
    padding-left: 5%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
  }
.resultado:hover{
    background-color: #3581d170;
}
.containerConjunto{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.aa{
    margin-bottom: 2vh;
}
.containerInfoBasica{
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    justify-content: space-between;
}
.iconoGrande{
    display: flex;
    justify-content: start;
    align-items: center;
}
.iconoTiempo{
    display: flex;
    justify-content: center;
    width: 120px;
}
.datosBasicos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainInfo{
    display: flex;
    margin-right: 10vh;
    justify-content: center;
    align-items: center;
}
.containerTemp{
    font-size: 26px;
}
.btnGuardar{
    display: flex;
    justify-content: center;
}
.modal-header{
    display: flex;
    font-size: 22px;
    justify-content: center;
}
.containerListadoConjuntos{
    z-index: 33;
    position: fixed;
    left: 40px;
    top: 70px;
    background-color: #0071dA;
    width: 15%;  
    border-radius: 10px ;
    box-shadow: 4px 4px 5px #00000099;


}
.containerBienvenida{
    z-index: 33;
    position: fixed;
    right: 40px;
    top: 70px;
    background-color: #0071dA;
    width: 15%;  
    border-radius: 10px ;
    box-shadow: 4px 4px 5px #00000099;


}
.conjuntos{
    max-height: 300px;
    overflow-y: auto;
    border-radius: 0px 0px 10px 10px;
}
.titulo{
    height: 6vh;
    border-bottom: 1px solid black;
    color: WHITE;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
}
.conjunto{
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    height: 5vh;
    border-bottom: 1px solid black;
    padding: 4%;
    display: flex;
    align-items: center;
    transition: all 0.4s;
}

.conjunto:hover{
    background-color: #FFFFFFaa;
    transition: all 0.4s;
}
.btnConjuntos{
    background-color: white;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    height: 5vh;
    border-bottom: 1px solid black;
    padding: 4%;
    display: flex;
    align-items: center;
    transition: all 0.4s;
}
#btnCerrarSesion:hover{
    transition: all 0.4s;
    background-color: rgb(214, 66, 66);
    color: white;
}
#btnFiltros:hover{
    transition: all 0.4s;
    background-color: rgb(38, 184, 25);
    color: white;
}
#btnEdicion:hover{
    transition: all 0.4s;
    background-color: rgb(212, 203, 46);
    color: white;
}
.iconEliminarConjunto{
    color: red;
    transition: all 0.4s;
}
.containerPdf{
    position: fixed;
    left: 50px;
    bottom: 50px;
}
.iconoPdf{
    color: white;
    transition: all 0.3s;
}
.iconoPdf:hover{
    transform: scale(1.5);
    transition: all 0.3s;
    color: red;
}

@media (max-width: 800px) {
    .containerConjunto{
        align-items: center;
        flex-direction: column;
    }
    .aa{
        margin-left: 5vh;
        margin-bottom: 3vh;
    }
    .containerTiempo{
        width: 100%;
    }
    .containerListadoConjuntos, .containerBienvenida{
        display: none;
    }
}


